<html>
<head>
</head>
<body>
    <h1>Hello {{ name }}</h1>
    <p>
        This email is about a change request for your email address that has
        been made from your account on {{ website }}.
    </p>
    <p>
        If you did not request this email address change, you can safely
        ignore this email. We will not send you further emails regarding
        this matter.
    </p>
    <p>
        If you do want to have your email address changed to {{ email }},
        please click on the following link or copy it into your browser's
        address bar.
    </p>
    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>
    <p>
        Regards
    </p>
    <p>
        Admin team {{ website }}
    </p>
</body>
</html>